{% extends 'base.html.twig' %}

{% block title %}Good Diag Immo - Confirmation de votre demande de devis{% endblock %}

{% block meta %}
    <meta name="description" content="Nous avons bien reçu votre demande de devis ! Nous mettons tout en oeuvre pour vous répondre dans les meilleurs délais.">
{% endblock %}

{% block body %}
    {{ include('include/navigation.html.twig') }}

    <div class="confirmintro">
        <h1>Nous avons bien reçu votre demande de devis gratuit !</h1>
        <p>Nous allons traiter votre demande dans les plus brefs délais.</p> <br> <br>
        <a href="{{ path('main') }}" class="button-1">Aller sur la page d'accueil</a> <br> <br> <br> <br>
        <a href="{{ path('actualite') }}" class="button-2">Voir nos actualités</a>
    </div>




    {{ include('include/trust.html.twig') }}
    {{ include('include/footer.html.twig') }}
{% endblock %}