{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ include('include/navigation.html.twig') }}

    <div class="intro">
        <h4>À propos</h4>
        <p>Good Diag’ Immo est une entreprise familiale qui réalise tous vos diagnostics immobiliers obligatoires. Notre
            équipe, experte du diagnostic immobilier, est composée de 2 professionnels : Thibault et Kim.</p>
    </div>

    <div class="container10">
        <div class="history">
            <h3>Notre histoire</h3>
            <p>Suite à une expérience dans le bâtiment, nous avons décidé de travailler ensemble afin de vous
                accompagner dans le diagnostic immobilier.<br><br> Nous sommes à votre écoute, disponibles et réactifs.
                Le diagnostic est réalisé à l’adresse du bien que vous souhaitez vendre ou louer. À la fin de celui-ci,
                nous vous délivrerons un rapport que vous pourrez fournir au notaire ou à l’agence immobilière.<br><br>N’hésitez
                pas à nous contacter pour une intervention rapide, demande de devis, conseil, avant la mise en vente ou
                la location de votre bien.</p>
        </div>
        <div class="historyimg">
            <img src="{{ asset('logo/MenDiag.png') }}" alt="">
        </div>
    </div>

    <div class="container11">
        <div class="container11-content">
            <div class="kim">
                <img src="{{ asset('logo/KimAbout.png') }}" alt="">
                <h3>Kim</h3>
                <p>La satisfaction de nos clients est mon leitmotiv. Ensemble, nous ferons la liste de vos besoins afin
                    que je puisse vous rédiger un devis personnalisé et complet.<br><br> Je vous accompagne de la prise
                    de renseignements à la facturation de notre prestation avec bienveillance et professionnalisme. </p>
            </div>
            <div class="thibault">
                <img src="{{ asset('logo/ThibaultAbout.png') }}" alt="">
                <h3>Thibault</h3>
                <p>Gérant et diagnostiquer immobilier de terrain, je vous accompagne dans cette étape cruciale de la
                    mise en vente / location de votre bien. <br><br>À l’écoute de vos besoins & interrogations, je prend
                    le temps de vous apporter des réponses à vos questions et vous conseille le mieux possible avant,
                    pendant et après mon intervention .</p>
            </div>
        </div>
    </div>

    <div class="container12">
        <div class="container12-content">
            <div class="cont12-left">
                <h3>Les diagnostics immobiliers obligatoires</h3>
                <p>Nous réalisons tous les diagnostics immobiliers obligatoires lors de la vente ou la location de votre
                    bien. Suite à la réalisation de ces divers diagnostics, carrez, diagnostic energétique, nous vous
                    transmettons un rapport complet de nos diagnostic technique.</p>
                <div class="intro-devis_button">
                    <a href="./diagnostics-immobiliers" class="button-1">Voir tous les diagnostics</a>
                </div>
            </div>
            <div class="cont12-right">
                <img src="{{ asset('logo/Tablette.png') }}" alt="">
            </div>
        </div>
    </div>



    {{ include('include/trust.html.twig') }}
    {{ include('include/footer.html.twig') }}

{% endblock %}