{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{{ include('include/navigation.html.twig') }}
<div class="container1">
    <div class="intro-index">
        <h2>Votre entreprise de diagnostics immobiliers</h2>
        <p>pour la vente et la location</p> <br> <br>
        <a href="{{ path('contactez_nous') }}" class="button-2">Votre devis gratuit</a>
    </div>
    <img src="{{ asset('logo/Accueilbackground.png') }}" alt="Good Diag Immo">
</div>

<div class="container2">
    <div class="fleche">
        <img src="{{ asset('logo/svg/flechedown.svg') }}" alt="">

    </div>
</div>

<div class="container3">
    <div class="container3-left">
        <div class="svg-circle">
            <img src="{{ asset('logo/svg/circlelogo.svg') }}" alt="Good Diag Immo">
        </div>
        <div class="kim-home">
            <img src="{{ asset('logo/entreprise-diag-immo.png') }}" alt="Votre entreprise de diagnostic immobilier">
        </div>

    </div>
    <div class="container3-right">
        <div class="container3-right-content">
            <h3>Entreprise de diagnostics en Gironde</h3> <br> <br>
            <p>Nous sommes des experts du diagnostic immobilier. Nous vous accompagnons pour la vente et la location de votre bien. Notre équipe est certifiée, nous sommes également assurés et nous adhérons à la Chambre des Diagnostiqueurs Immobiliers dans le but de vous assurer un service de qualité.</p><br>
            <p>N’hésitez pas à nous contacter pour une intervention rapide, demande de devis, conseil, avant la mise en vente ou la location de votre bien.</p> <br> <br>
            <a href="{{ path('expert_en_diagnostic_immobilier') }}" class="button-1">En savoir plus</a>
        </div>

    </div>
</div>



<div class="container4">
    <div class="test">
        <h4>Tous les diagnostics immobiliers obligatoires</h4>
        <div class="prevandnext">
            <ul>
                <li class="prev"><img src="{{ asset('logo/svg/chevronleft.svg') }}" alt=""></li>
                <li class="next"><img src="{{ asset('logo/svg/chevronleft.svg') }}" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="carousel">
        <div>
            <img src="{{ asset('logo/diagnostic-dpe.png') }}" alt="Diagnostic DPE">
            <h5>Diagnostic de Performance Énergétique</h5>
            <p>Réalisé obligatoirement par un professionnel certifié pour toute construction close et couverte qui est dotée d’un système de chauffage fixe, le DPE (diagnostic de performance énergétique) permet notamment de rendre publique une offre immobilière (sur internet, dans les presse ou même via une agence). Initié dans un but écologique, il permet aussi de mieux estimer pour celui qui loue ou achète, les potentiels coûts énergétiques.</p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-plomb.png' ) }}" alt="Diagnostic Plomb">
            <h5>Diagnostic CREP - Diagnostic Plomb</h5>
            <p>Dans le cas d’une inhalation ou d’une ingestion de plomb, les conséquences peuvent être terribles pour la santé. Nombreux cas d’intoxications ont été recensés avant que la loi ne vienne confirmer que  toute habitation ancienne mise en vente ou en location soit soumise à contrôle via le diagnostic plomb (CREP).
            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-amiante.png' ) }}" alt="Diagnostic Amiante">
            <h5>Diagnostic Amiante</h5>
            <p>Reconnu comme un facteur grave de risque pour la santé, l’amiante a pour vocation d’être éradiqué par les pouvoirs publics au sein de toute construction, privée ou publique. Ses fibres toxiques étant largement présentes encore dans la parc immobilier national, le diagnostic amiante et ses conséquences se sont imposés légalement assez naturellement.
            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-termite.png') }}" alt="Diagnostic Termites">
            <h5>Diagnostic Termites
            </h5>
            <p>Le diagnostic termites est un contrôle obligatoire réalisé par un professionnel certifié. Il est destiné à s’assurer qu’un logement n’est pas infesté par cet insecte ravageur, sur des éléments essentiels du bâti. La présence de termites peut être une catastrophe, pouvant entraîner des travaux plus ou moins importants.
            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-metrage.png') }}" alt="Diagnostic Métrage">
            <h5>Diagnostic Metrage</h5>
            <p>Son but est de protéger les futurs acquéreurs d’une copropriété. Lors de la vente d’un bien dans le secteur de l’immobilier, qu’il s’agisse d’un bâti au sein d’une copropriété horizontale ou verticale un mesurage loi carrez est nécessaire.
            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-electrique.png') }}" alt="Diagnostic Électrique">
            <h5>Diagnostic Installation Électrique
            </h5>
            <p>Depuis le 1er janvier 2009 (Loi ALUR), le diagnostic électricité a été rendu indispensable et ainsi obligatoire afin d’identifier tout risque potentiel lié à une éventuelle installation électrique vétuste ou mal mise en œuvre.
            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-gaz.png') }}" alt="Diagnostic Gaz">
            <h5>Diagnostic Installation Gaz
            </h5>
            <p>Cette norme concerne à la fois tous les systèmes de production d’eau chaude & de système de cuisson pour tout acte de vente ou location. Elle reste avant tout rassurante pour l’acheteur et cruciale pour la sécurité de tous.

            </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-assainissement.png') }}" alt="Diagnostic Assainissement">
            <h5>Diagnostic Assainissement</h5>
                <p>Communément appelé “tout à l’égout”, l’assainissement collectif se distingue de l’assainissement non collectif par son raccordement à un réseau public et donc plus global d’habitations. L’un ou l’autre mode d’assainissement reste obligatoire à l’achat d’une maison au travers d’un diagnostic dédié et réalisé par un professionnel.

                </p>
        </div>
        <div>
            <img src="{{ asset('logo/diagnostic-erp.png') }}" alt="Diagnostic ERP">
            <h5>Diagnostics ERP
            </h5>
            <p>Ce diagnostic immobilier permet de faire état des risques et pollution (ERP) d’un bien (essentiel pour une transaction immobilière). Les informations sont obtenues via le site gouvernemental georisques.gouv.fr et retranscrites sur un document CERFA.

            </p>
        </div>
    </div>
    <div class="button-diagnostics">
        <a href="{{ path('expert_en_diagnostic_immobilier') }}" class="button-1">Voir tous les diagnostics</a>
    </div>

</div>

<div class="container5">
    <h4>Nos partenaires</h4>
    <div class="certification">

        <div class="certif">
            <img src="{{ asset('logo/AllianzLogo.png') }}" alt="Allianz">
            <p><a href="https://www.allianz.fr/">Allianz France</a>, l’innovation et la confiance au coeur de notre stratégie</p>
        </div>
        <div class="certif">
            <img src="{{ asset('logo/QualiXpertLogo.png') }}" alt="QualiXpert">
            <p>Thibault COUDROY <a href="http://www.qualixpert.com/">QualiXpert</a> <br> Certificat N° C2841 <br> Amiante – DPE – Gaz – Electricité – Plomb – Termites</p>
        </div>
        <div class="certif">
            <img src="{{ asset('logo/FnaimLogo.png') }}" alt="FNAIM">
            <p>Adhérent à la Chambre des Diagnostiqueurs Immobiliers</p>
        </div>
    </div>
</div>

<div class="container6">
    <h4>Nos actualités</h4>


    <div class="actualites">
{% for a in articles %}
        <div class="fichearticle">
            <div class="top">
                <img src="{{ asset('/uploads/'~a.image.name) }}">
            </div>
            <div class="bottom">
                <h3>{{ a.title }}</h3>
                <?php echo substr($result['texte'], 0, 400) . ".."; ?> <br>
                <a id="nextread" href="{{ path('articles_show',{slug: a.slug}) }}">Lire la suite ></a> <br> <br>
                <p>Publié le {{ a.createdDate |date('y-m-d') }}</p>
            </div>
        </div>
{% endfor %}

    </div>
</div> <br> <br> <br>
<div class="touteslesactus">
    <a href="{{ path('actualite') }}" class="button-1">Voir toutes les actualités</a>
</div>

</div>

{{ include('include/trust.html.twig') }}
    {{ include('include/footer.html.twig') }}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}