<header>
<div class="disponible">
    <p>Disponible du <b>lundi au vendredi de 8H30 à 16h30</b> dans toute la région Nouvelle-Aquitaine</p>
</div>
<section class="nav-bar">
    <div class="nav-container">
        <div class="brand">
            <a href="{{ path('main') }}"><img src="{{ asset('logo/logo.svg') }}" alt="Logo GoodDiagImmo"></a>
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a href="{{ path('main') }}">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('expert_en_diagnostic_immobilier') }}">A propos</a>
                </li>
                <li>
                    <a href="{{ path('diagnostics_immobiliers') }}">Nos diagnostics</a>
                </li>

                <li>
                    <a href="{{ path('contactez_nous') }}">Contact et devis</a>
                </li>

                <button class="button-tel">
                    <a href="tel:+33659403735">06 59 40 37 35</a>
                </button>
            </ul>
        </nav>
    </div>
</section>
</header>