<div class="container7">
    <div class="test2">
        <h2>Ils nous ont fait confiance</h2>
        <div class="prevandnext2">
            <ul>
                <li class="prev2"><img src="{{ asset('logo/svg/chevronleft.svg') }}" alt="Flèche Gauche"></li>
                <li class="next2"><img src="{{ asset('logo/svg/chevronleft.svg') }}" alt="Flèche Droite"></li>
            </ul>
        </div>
    </div>
    <div class="carousel2">
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>C’est le seul organisme à avoir répondu rapidement à ma demande de devis. Je n’ai pas été déçue : ils sont très réactifs et disponibles, proposent un excellent rapport qualité-prix, et les résultats ont été transmis rapidement. Je recommande !</p>
            <h5>Emilie Perrier, Mérignac</h5>
        </div>
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>Réactivité et professionnalisme sont au rendez vous avec ce diagnostiqueur. Et les conseils ainsi que les explications sont tout autant appréciés et qualitatifs. Je recommande vivement.</p>
            <h5>Julien Roux</h5>
        </div>
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>J’ai rencontré la société Good’Diag pour la vente d’un appartement sur Eysines. Je suis très satisfait de sa prestation, ce dernier est très professionnel, de bons conseils, très disponible. Je le recommanderai très confiant à mes amis ou toute autre personne ayant besoin de ses services.</p>
            <h5>Agence SAFTI, Saint Loubès</h5>
        </div>
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>Professionnelle de l'immobilier, je fais souvent appel aux services de Gooddiag immo. Réactif, efficace, de bons conseils, le tout à prix maitrisés. Ne changez rien!</p>
            <h5>Cécile rousseau</h5>
        </div>
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>Thibault a été de trés bons conseils pour l'interpretation de notre diagnostic dans le cadre de la vente de notre maison. Tout a été fait dans les règles et il a pris le temps de tout nous expliquer. Limpide et reactif. Merci!</p>
            <h5>Bastien Giner</h5>
        </div>
        <div>
            <img src="{{ asset('logo/svg/apostrophe.svg') }}">
            <p>Je recommande à 100% pour le professionnalisme de l’ensemble du personnel. Le diagnostic et sa contre visite se sont super bien passés. Concernant le bureau, super réactifs à mes différentes demandes. Un rapport édité clair, compréhensible de tous. Maison vendue sans crainte. À bientôt pour l’utilisation de vos services pour nos projets futurs.</p>
            <h5>Clément Felices</h5>
        </div>
    </div> <br><br><br> <br>
</div>